<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.autokey.directionui</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/DirectionUI_8way_Mac.app/Contents/MacOS/DirectionUI_8way_Mac</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardErrorPath</key>
    <string>/tmp/directionui.err</string>
    
    <key>StandardOutPath</key>
    <string>/tmp/directionui.out</string>
</dict>
</plist>